@import url("reset.css");
@import url("common.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}
.main {
}
.transform {
	background: url(../img/repeat.jpg) repeat;
}
.transform__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 15px;
}
.transform__title {
	margin: 0 auto;
	font-size: 60px;
	font-weight: 600;
	font-style: italic;
	max-width: 400px;
	color: #000;
	margin-bottom: 30px;
}
.transform__content {
}
.transform__block {
	max-width: 500px;
	margin: 0 auto;
	background-color: blueviolet;
	padding: 30px;
	perspective: 400px;
	transform-origin: center;
}
.transform__block:not(:last-child) {
	margin-bottom: 30px;
}
.transform__description {
	font-size: 36px;
	font-weight: 600;
	color: blue;
	text-align: center;
}
.transform__description:not(:last-child) {
	margin-bottom: 20px;
}
.transform__example {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	background-color: blue;
	border: 2px solid #000;
	transition: all 0.5s;
}
.transform__block:nth-child(1):hover .transform__example {
	transform: translate(50px, -50px);
}
.transform__block:nth-child(2):hover .transform__example {
	transform: scale(-1.5, 1.5);
}
.transform__block:nth-child(3):hover .transform__example {
	transform: rotate(180deg);
}
.transform__block:nth-child(4):hover .transform__example {
	transform: skew(45deg, 25deg);
}
.transform__block:nth-child(5):hover .transform__example {
	transform: matrix(0.5, 0.1, 0.1, 0.8, 10, 15);
}
.transform__block:nth-child(6):hover .transform__example {
	transform: translate(500px) scale(0.5) rotate(-180deg) skew(45deg);
}
.transform__block:nth-child(7):hover .transform__example {
	transform: rotate(-20deg) scale(0.5);
	transform-origin: 100% 100%;
}
.transform__block:nth-child(8) {
	perspective: 300px;
	perspective-origin: left;
}
.transform__block:nth-child(8):hover .transform__example {
	transform: rotateX(-45deg);
}
.transform__block:nth-child(9):hover .transform__example {
	transform: translate3D(50px, -50px, 50px);
}
.transform__block:nth-child(10):hover .transform__example {
	transform: scale3D( 2, 2, 2);
}
.transform__block:nth-child(11):hover .transform__example {
	transform: rotate3D( 1, 1, 1, 85deg);
}
.transform__block:nth-child(12):hover .transform__example {
	transform: matrix3d(1,0,0.00,0,0.00,0.98,0.17,2,0,-0.17,0.98,0,10,0,0,1);
}
.transform__block:nth-child(13):hover .transform__example {
	transform: rotate3d(1, 1, 1, 85deg) scale3D( 2, 2, 2) translate3d(50px, -50px, 50px);
}
.transform__block:nth-child(14) {
	perspective: 300px;
	transform-style: preserve-3d;
	background-color: rgba(137, 43, 226, 0.518);
}
.transform__block:nth-child(14):hover .transform__example {
	transform: rotateX(-45deg);
}

.transform__flip {
}
.flip-transform {
}
.flip-transform__body {
	position: relative;
	width: 400px;
	height: 400px;
	transform-style: preserve-3d;
	margin: 0 auto;
	transition: all 1.5s;
}
.flip-transform__body span {
	display: block;
	color: #fff;
	font-size: 36px;
	font-weight: 600;
	max-width: 130px;
	margin: 0 auto;
	padding: 175px 0;
}
.flip-transform__front,
.flip-transform__back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.flip-transform__front {
	z-index: 2;
	transform: rotateY(0deg);
	background-color: blue;
	backface-visibility: hidden;

}
.flip-transform__back {
	transform: rotateY(-180deg);
	background-color: red;
}
.flip-transform:hover .flip-transform__body {
	transform: rotateY(-180deg);
}


.car {
	padding-top: 50px;
	background: url(../img/car_background.jpg) center / cover no-repeat;
}
.car__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	min-height: 1400px;
}
.car__details {
	max-width: 100%;
	position: relative;
	left: 257px;
	bottom: -774px;
	display: inline-block;
}
.car__top {
}
.car__center {
}
.car__window-back {
	/* position: absolute;
	left: 159px;
	top: 257px;
	width: 167px;
	height: 65px;
	border-radius: 100% 0% 70% 30% / 100% 100% 0% 0% ;
	background-color: gray;
	border: 5px solid #000; */
}
.car__window-front {
	/* position: absolute;
	right: 212px;
  top: 262px;
  width: 161px;
  height: 61px;
	border-radius: 100% 0% 70% 30% / 100% 100% 0% 0% ;
	background-color: gray;
	transform: scale(-1, 1);
	border: 5px solid #000;; */
}
.car__bottom {
}
.car__wheel-back {
	position: absolute;
	left: 125px;
	bottom: 235px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: gray;
	background: url(../img/wheel.png);
}
.car__wheel-front {
	position: absolute;
	right: 84px;
	bottom: 243px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: gray;
	background: url(../img/wheel.png);
}
