@import url(reset.css);

body {
  font-family: 'Poppins', sans-serif;
	font-family: 'Inter', sans-serif;
}

.wrapper {
}
.section-1 {
	background: url("../img/section-1/01.png") 0 0 / cover no-repeat;
	max-width: 100%;
	min-height: 600px;
	font-family: 'Poppins', sans-serif;
}
.section-1__container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}
.section-1__logo {
	display: inline-block;
	padding-top: 36px;
	margin-bottom: 304px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.38; /* 25/18 */
	color: #F8F9FA;
}
.section-1__header-text {
	padding-bottom: 100px;
}
.section-1__header-text >* {
	margin-bottom: 15px;
}
.section-1__header-text >*:last-child {
	margin-bottom: 0;
}
.header__date {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 20/12 */
	color: #E5E5E5;
}
.header__title {
	max-width: 605px;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6; /* 40/25 */
	color: #F8F9FA;
}
.header__description {
	max-width: 499px;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.66; /* 20/12 */
	color: #E5E5E5;
}

.section-2 {
	font-family: 'Inter', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-2__container {
	max-width: 1240px;
	padding: 0 15px;
	margin: 0 auto;
}
.section-2__title {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.07; /* 28/26 */
	color: #212B36;
	margin-bottom: 45px;
}
.section-2__ul-block {
}
.section-2__ul-block li {
	font-size: 16px;
  font-weight: 700;
  line-height: 1; /* 16/16 */
	color: #637381;
}
.section-2__ul-block >*:not(:last-child) {
	margin-bottom: 60px;
}
ul li:hover {
	text-decoration: underline;
	cursor: default;
}
ul li:hover::before {
	transform: scale(1.5) rotate(360deg);
	transition: all 0.3s;
}
ul li:not(:last-child) {
	margin-bottom: 18px;
}
.list-1 {
	line-height: 0.9375; /* 15/16 */
}
.list-1 li:hover::before {
	transform: scale(2) rotate(360deg);
}
.list-1 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/01.svg") no-repeat;
	width: 8px;
	height: 8px;
	margin-right: 10px;
	vertical-align: middle;
}
.list-2 {
}
.list-2 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/02.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
.list-3 {
}
.list-3 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/03.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
.list-4 {
}
.list-4 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/04.svg") 0 5px no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
.list-5 {
}
.list-5 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/05.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
.list-6 {
}
.list-6 li::before {
	content: "";
	display: inline-block;
	background: url("../img/section-2/06.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

.section-3 {
	background: url("../img/section-3/background3.png") 50% no-repeat#F4F7FF;
	max-width: 100%;
	min-height: 560px;
	font-family: 'Inter', sans-serif;
}
.section-3__container {
	max-width: 1200px;
	padding: 81px 15px 83px;
	margin: 0 auto;
}
.section-3__text {
	display: inline-block;
	padding: 64px 0 63px 0;
	margin-right: 179px
}
.section-3__text >*:last-child {
	margin-bottom: 0;
}
.text-price {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.333; /* 24/18 */
	margin-bottom: 13px;
	color: #3056D3;
}
.text-title {
	max-width: 470px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.25; /* 45/36 */
	color: #212B36;
	margin-bottom: 15px;
}
.text-description {
	max-width: 570px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5; /* 24/16 */
	color: #637381;
	margin-bottom: 35px;
}
.text-button {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5; /* 24/16 */
	border-radius: 30px;
	padding: 10px 30px;
	background: #3056D3;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.text-button:hover {
	background: rgba(48, 86, 211, 0.5);
	transform: scale(1.1);
	transition: all 0.3s;
}
.image {
	max-width: 100%;
}
.image:hover {
	transform: scale(1.1);
	transition: all 0.3s;
}